body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  /* color: white; */
  /* display: flex;  */
  justify-content: center; 
  align-items: center; 
  /* width: '100%'; */
  overflow-x: hidden;
}

.App {
  /* display: flex; */
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}